html {
    font-size: 20px;
    font-family: "Inter", "sans-serif";
    background-color: whitesmoke;
}

body {
    width: 90%;
    margin: 20px auto 20px auto;
    background-color: white;
}
.navbar {
    border-radius: 30px;
    background-color: whitesmoke;
}
.navbar-brand {
    font-size: 15px;
}

nav {
    width: 100%;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 60px;
    text-align: center;
    padding: 20px 0 40px 0;
    color: black;
}

h2 {
    margin: 0;
    text-align: center;
    padding: 10px;
    color: black;
}

footer > ul > li {
    list-style: none;
    text-align: center;
    padding: 0 10px;
    font-size: 15px;
}

.hidden-contact-info {
    text-align: center;
    border: none;
}

.showing-contact-info {
    display: block;
    margin: 0 auto;
    text-align: center;
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.large-pic-home {
    max-width: 75%;
    max-height: 75%;
    display: block;
    margin: auto;
    border-radius: 30px;
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
}

.large-pic {
    max-width: 75%;
    max-height: 75%;
    display: block;
    margin: auto;
    border-radius: 30px;
}

@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

p,
ul {
    margin: 20px 100px;
}

table {
    margin: 0 100px;
}

td > p {
    text-align: center;
    margin: auto;
}

th {
    text-align: center;
    border: darkgray solid 2px;
}

tr > td {
    padding: 5px;
    font-size: 15px;
    vertical-align: top;
    border: darkgray solid 1px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
}

.btn-secondary {
    padding: 5px;
    font-size: 15px;
    font-family: "Inter", "sans-serif";
}

iframe {
    display: block;
    margin: auto;
    border-radius: 30px;
    border: none;
}

.navbar-brand:hover {
    color: blue;
}
.hide-border {
    border: none;
}
